.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  
}
.navbox{
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  text-decoration: none;
}
.textline{
  text-decoration: none;
  font-size: xx-large;
}

.disp{
  display: flex;
  margin: 10px;
  align-items: start;
  justify-content: center;
  margin: 10px;
}
.disp2{
  color: #010e11;
  background-color: #61dafb;
  margin: 10px;
  min-height: 200px;
  min-width: 150px;
}

.disp3{
  margin: 10px;
  padding: 10px;
  display: inline;
}

.marginup{
  margin: 10px;
  padding: 3px;
}